---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const title = "Calendario";
---

<BaseLayout title={title}>
    <section
        class="h-full w-full max-w-screen-xl flex flex-col justify-center gap-4 py-6 lg:gap-10 lg:py-10 px-2"
    >
        <h1 class="text-4xl text-red-500 font-bold">{title}</h1>
        <div
            class="h-full w-full flex flex-col items-center justify-center gap-4"
        >
            <h2 class="text-xl font-medium">Próximamente...</h2>
            <div
                class="md:w-3/5 md:h-3/5 lg:w-2/5 lg:h-2/5 flex justify-center"
            >
                <Image
                    src="https://utfs.io/f/389ec0fa-c6d5-427b-a739-957c6b5432c0-n3gweo.svg"
                    alt="Calendario placeholder"
                    inferSize
                    class="h-full w-full"
                />
            </div>
        </div>
    </section>
</BaseLayout>
