---
import { Envelope, MapPin, Phone } from "@/components/ui/SVGs";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const title = "Contacto";
---

<BaseLayout title={title}>
    <section
        class="h-full w-full max-w-screen-xl flex flex-col justify-center gap-4 py-6 lg:gap-10 lg:py-10 px-2"
    >
        <h1 class="text-4xl text-red-500 font-bold">{title}</h1>
        <div
            class="grid md:grid-cols-[1.5fr_1fr] gap-4 bg-red-600 rounded-3xl p-4 shadow-md"
        >
            <div class="flex flex-col gap-8 justify-end">
                <p class="inline-flex items-center gap-2 md:text-xl text-white">
                    <MapPin className="w-7 text-red-300" strokeWidth="1.3" />
                    Santa Fe y Copiapó, Ciudad de La Rioja
                </p>
                <p class="inline-flex items-center gap-2 md:text-xl text-white">
                    <Phone className="w-7 text-red-300" strokeWidth="1.3" />
                    +54 9 3804 588812
                </p>
                <p class="inline-flex items-center gap-2 md:text-xl text-white">
                    <Envelope className="w-7 text-red-300" strokeWidth="1.3" />
                    info@polotec.ar
                </p>
            </div>
            <Image
                src="https://utfs.io/f/48951d14-9d05-4eed-b36a-333dad2414d3-6jtb1.jpg"
                alt="polo tecnológico"
                inferSize
                class="rounded-lg"
            />
        </div>
    </section>
</BaseLayout>
