---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const title = "Oportunidades Tecno";
---

<BaseLayout title={title}>
    <section
        class="h-full w-full max-w-screen-xl flex flex-col justify-center gap-4 py-6 lg:gap-10 lg:py-10 px-2"
    >
        <h1 class="text-4xl text-red-500 font-bold">{title}</h1>
        <div class="h-full w-full flex items-center justify-center">
            <div
                class="md:w-3/5 md:h-3/5 lg:w-2/5 lg:h-2/5 flex justify-center"
            >
                <Image
                    src="https://utfs.io/f/84e61b88-f4bb-4743-84ca-bed5f4ca3a55-oey968.svg"
                    alt="Page not found"
                    inferSize
                    class="w-full"
                />
            </div>
        </div>
    </section>
</BaseLayout>
