---
import Button from "@/components/ui/Button.astro";
import ExternalLink from "./ui/ExternalLink.astro";
import Dropdown from "./ui/Dropdown.astro";
---

<header
    class="w-full flex justify-center transition-colors duration-500"
    id="header"
>
    <div class="w-[1280px] h-[100px] flex items-center justify-between">
        <a href="/" class="h-full w-auto">
            <img
                src="https://utfs.io/f/aa3ce997-de98-408a-8812-dc2603f549c2-1zbfv.png"
                alt="Logo Polo Tecnológico"
                class="h-full"
            />
        </a>
        <nav class="w-2/3 relative">
            <ul class="flex justify-between">
                <li>
                    <Dropdown
                        text="Servicios"
                        options={[
                            "calendario",
                            "beneficios provinciales",
                            "oportunidades tecno",
                            "incubadora de empresas",
                            "ideas proyecto",
                            "facilidades de financiamiento",
                        ]}
                    />
                </li>
                <li>
                    <Dropdown
                        text="Institucional"
                        options={["autoridades", "acerca del polo", "contacto"]}
                    />
                </li>
                <li>
                    <ExternalLink
                        href="https://docs.google.com/forms/d/e/1FAIpQLSfe8OBH78KVZ1GIIyaFAlkfTEyH0jyo5JZ2DpyY_gFY2Xfsgw/viewform"
                        text="Reg. de Emprendedores"
                    />
                </li>
                <li>
                    <ExternalLink
                        href="https://polotec.ar/hackathon/"
                        text="Hackaton"
                    />
                </li>
                <li>
                    <ExternalLink
                        href="https://polotec.ar/gaming/"
                        text="Polo Gaming"
                    />
                </li>
                <li>
                    <ExternalLink
                        href="http://www.polotec.ar/campus/"
                        text="Campus"
                    />
                </li>
            </ul>
        </nav>
        <Button variant="primary">Iniciar Sesión</Button>
    </div>
</header>

<!-- <script>
    const nav = document.querySelector("#header");
    window.onscroll = () => {
        nav?.classList.toggle("bg-[#fee2e2]", window.scrollY > 40);
    };
</script> -->
