---
import { Hamburger } from "./ui/SVGs";
import { Button } from "./ui/Button";
import NavigationDesktop from "./NavigationDesktop.astro";
import NavigationMobile from "./NavigationMobile.astro";
---

<header
    class="w-full flex justify-center transition-colors duration-500 relative"
    id="header"
>
    <div
        class="w-full lg:max-w-[1280px] h-[75px] md:h-[100px] flex items-center justify-between px-4"
    >
        <a href="/" class="h-full w-auto">
            <img
                src="https://utfs.io/f/aa3ce997-de98-408a-8812-dc2603f549c2-1zbfv.png"
                alt="Logo Polo Tecnológico"
                class="h-full"
            />
        </a>
        <NavigationDesktop />
        <NavigationMobile />
        <button id="open-btn" class="lg:hidden">
            <Hamburger className="text-red-400 h-12 w-12" />
        </button>
        <div class="hidden lg:block" id="login-desktop">
            <Button>Iniciar Sesión</Button>
        </div>
    </div>
</header>

<script>
    const btn = document.querySelector("#login-desktop");
    btn?.addEventListener("click", () => {
        location.href = "/login";
    });
</script>

<script is:inline data-astro-rerun>
    document.addEventListener("astro:page-load", () => {
        const menu = document.querySelector("#menu");
        const openBtn = document.querySelector("#open-btn");
        const closeBtn = document.querySelector("#close-btn");

        openBtn?.addEventListener("click", () => {
            menu?.classList.remove("-left-full");
            menu?.classList.add("-left-0");
        });

        closeBtn?.addEventListener("click", () => {
            menu?.classList.remove("-left-0");
            menu?.classList.add("-left-full");
        });
    });
</script>
