---
// import Dropdown from "./ui/Dropdown.astro";
import { Button } from "./ui/Button";
import { Dropdown } from "./ui/Dropdown";
import ExternalLink from "./ui/ExternalLink.astro";
import { Close } from "./ui/SVGs";
---

<nav
    class="w-full lg:hidden absolute top-0 -left-full z-[60] bg-zinc-50"
    id="menu"
>
    <div class="flex justify-end pt-4 pr-4">
        <button id="close-btn">
            <Close className="text-red-400 h-12 w-12" />
        </button>
    </div>
    <div class="flex justify-center h-screen w-screen relative">
        <ul class="flex flex-col gap-6 py-10 w-2/3">
            <li>
                <Dropdown
                    client:load
                    text="Servicios"
                    options={[
                        "calendario",
                        "beneficios provinciales",
                        "oportunidades tecno",
                        "incubadora de empresas",
                        "ideas proyecto",
                        "facilidades de financiamiento",
                    ]}
                />
            </li>
            <li>
                <Dropdown
                    client:load
                    text="Institucional"
                    options={["autoridades", "acerca del polo", "contacto"]}
                />
            </li>
            <li>
                <ExternalLink
                    href="https://docs.google.com/forms/d/e/1FAIpQLSfe8OBH78KVZ1GIIyaFAlkfTEyH0jyo5JZ2DpyY_gFY2Xfsgw/viewform"
                    text="Reg. Emprendedores"
                />
            </li>
            <li>
                <ExternalLink
                    href="https://polotec.ar/hackathon/"
                    text="Hackaton"
                />
            </li>
            <li>
                <ExternalLink
                    href="https://polotec.ar/gaming/"
                    text="Polo Gaming"
                />
            </li>
            <li>
                <ExternalLink
                    href="http://www.polotec.ar/campus/"
                    text="Campus"
                />
            </li>
            <div class="lg:hidden" id="login-mobile">
                <Button>Iniciar Sesión</Button>
            </div>
        </ul>
    </div>
</nav>

<script>
    const btn = document.querySelector("#login-mobile");
    btn?.addEventListener("click", () => {
        location.href = "/login";
    });
</script>
