---

---

<a
    href=""
    class="grid grid-cols-[4fr_3fr] gap-2 p-4 rounded-xl hover:bg-red-400 hover:drop-shadow-md transition-all duration-200 max-h-[220px]"
>
    <div class="flex flex-col gap-2">
        <h3 class="text-lg text-zinc-50 font-medium line-clamp-2">
            Card Title but this time longer for some reason i i'm not informed
            about somehow
        </h3>
        <p class="text-wrap text-zinc-200 line-clamp-4">
            Card description something something bla bla bla bla bla more bs bla
            bla bla is this enough thex tho? bla bla bla not enough I need more
            text or something like that i don't know you tell me this seems to
            not be working. maybe thi will make it work finally i hope so
        </p>
    </div>
    <img
        src="https://utfs.io/f/2a34bf51-afdb-4028-9440-98c347bc1f84-jks5b9.jpeg"
        alt="visita centec"
        class="rounded-lg aspect-video h-full w-full"
    />
</a>
