---

---

<div
    class="p-4 rounded-lg flex flex-col gap-2 bg-white border-l-8 border-red-500 w-4/5"
>
    <div>
        <h3 class="text-xl font-medium pb-4 border-b">
            Apoyo del Ministerio de Desarrollo Productivo a la EDC
        </h3>
    </div>
    <div class="grid grid-cols-[1fr_3fr] text-sm pt-2">
        <div class="flex flex-col gap-4 justify-between font-medium">
            <p>Fecha límite</p>
            <p>Descripción</p>
            <p>Link</p>
        </div>
        <div class="flex flex-col gap-4 justify-between">
            <p>No aplica</p>
            <p>
                Asistencia técnica y financiera para la economía del
                conocimiento
            </p>
            <a
                class="hover:text-red-500 transition-colors duration-150 line-clamp-1"
                href="https://www.argentina.gob.ar/economia/secretaria-de-la-pequena-y-mediana-empresa-emprendedores-y-economia-del-conocimiento"
                target="_blank"
            >
                https://www.argentina.gob.ar/economia/secretaria-de-la-pequena-y-mediana-empresa-emprendedores-y-economia-del-conocimiento
            </a>
        </div>
    </div>
</div>
