---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a
    href={href}
    target="_blank"
    class="flex items-center justify-center h-full w-full aspect-auto"
>
    <slot />
</a>
